<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="container">
    <a style="margin-left: 600px;" href="/users">Home</a>
    <h1>Edit User {{user.first_name}} {{user.last_name}}</h1>
    <form class="form" action="/edit" method="post">
        <input type="hidden" name="id" value={{user.id}}>
        <div>
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" id="" value="{{user.first_name}}">
        </div>
        <div>
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" value="{{user.last_name}}">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="text" name="email" value="{{user.email}}">
        </div>
        <input class="tag" type="submit" value="Update">
        <a href="/user/{{user.id}}">Show User</a>
    </form>
</div>




<script src="/static/js/script.js"></script>
</body>
</html>