<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="container" >
    <h1>User ?</h1>
    <table class="table" >
        <tr>
            <td>Full Name:</td>
            <td>Sample</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>Sample</td>
        </tr>
        <tr>
            <td>Created On:</td>
            <td>Sample</td>
        </tr>
        <tr>
            <td>Last Updated On:</td>
            <td>Sample</td>
        </tr>
    </table>
    <div class="tag" >
        <a href="">Edit</a>
        <h4 style="display: inline-block;" >|</h4>
        <a href="">Delete</a>
    </div>
</div>





<script src="/static/js/script.js"></script>
</body>
</html>